<h1>Quiz</h1>
<p *ngIf="!questions"><em>Loading...</em></p>

<div class="row" *ngIf="showResult">
    <p> Total Question : {{totaQuestions}}</p>
    <p> Correct Question : {{correctQuestions}}</p>
</div>

<div class="row" *ngIf="questions && !showResult">
    <div *ngFor="let question of questions; let i= index;">

        <div class="form-group">
            <label for="exampleInputEmail1" class="text-info">Qusetion {{i + 1}}: {{ question.question }}</label>            
        </div>

        <div class="form-group">
            <input  type="radio" [(ngModel)]="question.ans1Check" name="rdQue{{i + 1}}" value="A">
            <label for="exampleInputEmail1">Ans1: {{ question.ans1 }}</label>            
        </div>

        <div class="form-group">            
            <input [(ngModel)]="question.ans2Check"  type="radio" name="rdQue{{i + 1}}" value="B">
            <label for="exampleInputEmail1">Ans2:  {{ question.ans2 }}</label>
        </div>

        <div class="form-group">          
            <input [(ngModel)]="question.ans3Check" type="radio" class="form-check-input" name="rdQue{{i + 1}}" value="C">
            <label for="exampleInputEmail1">Ans3:  {{ question.ans3 }}</label>
        </div>

        <div class="form-group" >           
            <input [(ngModel)]="question.ans4Check" type="radio" class="form-check-input" name="rdQue{{i + 1}}" value="D">
            <label for="exampleInputEmail1">Ans4:  {{ question.ans4 }}</label>
        </div>

    </div>
</div>

<button class="btn btn-primary" (click)="submitTest()"  > Submit Test!</button>