<style>
    .ng-valid[required], .ng-valid.required {
        border-left: 5px solid #42A948; /* green */
    }

    .ng-invalid:not(form) {
        border-left: 5px solid #a94442; /* red */
    }
</style>

<form [formGroup]="frmAddQuestion" >
    <div class="form-group">
        <label for="exampleInputEmail1">Question</label>
        <input type="text" formControlName="question" class="form-control" id="exampleInputEmail1" placeholder="Enter Question..">
        <div class="text-danger" *ngIf="frmAddQuestion.controls['question'].hasError('required')">
            <p>Question  is required</p>
        </div>
    </div>
    
    <div class="form-group">
        <label for="exampleInputEmail1">Ans1</label>
        <input type="text" formControlName="ans1" class="form-control" id="ans1" placeholder="Enter ans1..">
        <div class="text-danger" *ngIf="frmAddQuestion.controls['ans1'].hasError('required')">
            <p>ans1  is required</p>
        </div>
    </div>

    <div class="form-group">
        <label for="exampleInputEmail1">ans2</label>
        <input type="text" formControlName="ans2" class="form-control" id="ans2" placeholder="Enter ans2..">
        <div class="text-danger" *ngIf="frmAddQuestion.controls['ans2'].hasError('required')">
            <p>ans2  is required</p>
        </div>
    </div>

    <div class="form-group">
        <label for="exampleInputEmail1">ans3</label>
        <input type="text" formControlName="ans3" class="form-control" id="ans3" placeholder="Enter ans3..">
        <div class="text-danger" *ngIf="frmAddQuestion.controls['ans3'].hasError('required')">
            <p>ans3  is required</p>
        </div>

        <div class="form-group">
            <label for="exampleInputEmail1">ans4</label>
            <input type="text" formControlName="ans4" class="form-control" id="exampleInputEmail1" placeholder="Enter ans4..">
            <div class="text-danger" *ngIf="frmAddQuestion.controls['ans4'].hasError('required')">
                <p>ans4  is required</p>
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-primary" (click)="onFormSubmit()">Submit</button>
</form>


