<style>
    :host {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    div.input {
        position: relative;
    }

        div.input label {
            position: absolute;
            top: 0;
            transform: translateY(-50%);
            left: 10px;
            background: white;
            padding: 5px 2px;
        }

        div.input input {
            padding: 10px 20px;
            font-size: 25px;
            outline: 0;
        }

    div.input {
        margin-top: 20px;
    }
</style>

<form (submit)="loginUser($event)">
    <div class="input">
        <label>Username</label>
        <input type="text">
    </div>
    <div class="input">
        <label>Password</label>
        <input type="password">
    </div>
    <div class="input">
        <input type="submit" value="Login">
    </div>
</form>